<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Icon Coficab-->
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <!--Disaing General-->
    <link rel="stylesheet" href="../css/design.css">
    <!--Menu-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Warehouse Status</title>
</head>
<body>
<nav class="bar-horizon">
    <div class="logocoficab">
        <a href="#"><img src="../img/coficab.png" alt="20px"></a>
    </div>
</nav>
    
<div class="container">
    <h2>Warehouse Status</h2>
    <ul class="nav nav-pills">
        <li><a href="home.html">Home</a></li>
        <li class="active"><a href="warehousestatus.html">Warehouse Status</a></li>
        <li><a href="rackinformation.html">Information for Rack</a></li>
        <li ><a href="crud.html">Crud</a></li>
        <li><a href="transactions.html">Transactions</a></li>
    </ul>
    <br>

    
</div>

</body>
</html>